<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
         initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>TEMPLATE DASHBOARD LOJA FATEC</title>
</head>
<body>
    <header>
        <div class="info-header">
            <div class="logo">
                <h3>Loja de Roupas Fatec</h3>
            </div>
        </div>
        <div style="align-items: center;" class="info-header">
            <img src ="img/icon_search.png">
            <img src ="img/icon_letter.png">
            <img src ="img/icon_bell.png">
            <img src="img/user.png">
        </div>
        <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </header>
    <section class="main">
        <div class="sidebar">
            <h3>LANÇAMENTOS</h3>
            <a href="#"> Clientes</a>
            <a href="#"> Fornecedores</a>
            <a href="#"> Produtos</a>
            <a href="#"> Vendas</a>
            <br>
            <div class="stroke"></div>
            <h3>RELATÓRIOS</h3>
            <a href="#"> Pedidos</a>
            <a href="#"> Vendas</a>
            <br>
            <hr>
        </div>
        <div class="content">
            <div class="titulo-secao">
                <h2>PAINEL ADMINISTRATIVO</h2>
                <br/>
                <div class="stroke"></div>
                <br/>
                <p> / Painel Administrativo</p>
            </div>
            <div class="box-info">
                <div style="background: linear-gradient(45deg,
                     #FF2211, #FF8888);" class="box-info-single">
                    <div class="info-text">
                        <h3>DÍVIDAS A RECEBER</h3>
                        <p>...</p>
                    </div>
                </div>
                <div style="background: linear-gradient(45deg,
                     #55FF00, #77FF77);" class="box-info-single">
                    <div class="info-text">
                        <h3>PAGAMENTOS PARA HOJE</h3>
                        <p>...</p>
                    </div>
                </div>
                <div style="background: linear-gradient(45deg,
                     #3334FF, #6655FF);" class="box-info-single">
                    <div class="info-text">
                        <h3>ITENS A REPOR</h3>
                        <p>....</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>